body{
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-size: cover;


}

#modal{
    z-index: 1;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    width: 0px;
    height: fit-content;
    display: flex;
    transition: all 1s ease;
    padding: 32px 10vw;
    transform: translateY(-200px);
    transition: all 0.5s ease 0s;
}
#modal form{
    background: rgb(255, 255, 255);
    margin: 0px 10vw;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
    display: flex;
    flex-direction: column;
    
    
}
.input-wrapp{
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}
.actions{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.btn-add{
    position: fixed;
    z-index: 2;
    right: 10vw;
    bottom: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

/* .btn-add:hover{
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */
.modal-active {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.btn-giro{
	-webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-90-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.itemTarefa{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 16px;

}

#listaTarefa{
  margin-top: 32px;
  width: 100%;
  max-width: 600px;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-3-11 21:58:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-3-18 20:56:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-90-cw
 * ----------------------------------------
 */
 
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

  